<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Video Game Library App</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Welcome, this is a Video Game Library!</h1>
    <p>An app for sharing your favorite games!</p>
  <hr />
  <h2>Select a Platform</h2>
  <ul>
    <li>
      <a href="/games/platform/all">All Platforms</a>
    </li>
    <li>
      <a href="/games/platform/pc">PC</a>
    </li>
    <li>
      <a href="/games/platform/playstation">Playstation</a>
    </li>
    <li>
      <a href="/games/platform/xbox">Xbox</a>
    </li>
    <li>
      <a href="/games/platform/nintendo">Nintendo</a>
    </li>
  </ul>
  <div>
    <a href="/games/create">
      <button class="button">Add a New Game</button>
    </a>
  </div>
  </body>
</html>
